:root {
	--bg: lightgray;
	--content: black;
	--content-bg: white;
	--header-bg: white;
	--border: gray;
	--rollover: lightgray;
	--other-rollover: #2C2C2C;
	--probably-same-as-content-bg: white;
	--tb-back: #F7F7F7;
	--tb-rollover-border: blue;
	--tb-hint: gray;
	--link: blue;
	--opposing: white;
	--verified: limegreen;
	--you: mediumaquamarine;
	--probably-same-as-link: blue;
	--cb-off: lightgray;
	--cb-sign: white;
	--red: red;
}