:root {
	--bg: #97DEF3;
	--content: black;
	--content-bg: white;
	--header-bg: #4AB8C9;
	--border: black;
	--rollover: white;
	--other-rollover: white;
	--probably-same-as-content-bg: black;
	--tb-back: white;
	--tb-rollover-border: blue;
	--tb-hint: gray;
	--link: blue;
	--opposing: white;
	--verified: limegreen;
	--you: mediumaquamarine;
	--probably-same-as-link: lightgray;
	--cb-off: lightgray;
	--cb-sign: dimgray;
	--red: red;
}